@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
body{
    font-family: 'Covered By Your Grace', cursive;
}
.wow
{
    margin: 0.5rem 1rem;
    background-color:#f97316;
    border:none;
}
.navigation
{
    background-color: #f97316;
    font-size: 2rem;
    padding:0.5rem;
    display:block;
    text-align:center;

}
.textArea
{
 display:block;
 border:1px solid black;
 height:15vh;
 width:80%;
 margin-left:auto;
 margin-right:auto;
 padding:1rem;
 text-align:center;
 font-family: 'Covered By Your Grace', cursive;
 font-size:larger;
}
.buttoN
{
    background-color:#f59e0b;
    border:none;
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding: 1rem 2rem;
    font-size:large;
    font-family: 'Covered By Your Grace', cursive;
    font-weight:bold;
}
 .footerClass .aboutClass
{
    font-size: x-large;
}
.footerClass{
    text-align:center;
    background-color:#f97316;
    
}
.Output
{
    display:block;
    border:2px dotted black;
    height:20vh;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding:1rem;
    font-family: 'Covered By Your Grace', cursive;
    font-size:larger;
}

